doctype html
html.no-js(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Foundation | Welcome
    link(rel='stylesheet', href='//dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css')
  body
    .off-canvas-wrapper
      .off-canvas-wrapper-inner(data-off-canvas-wrapper='')
        #my-info.off-canvas.position-left.reveal-for-large(data-off-canvas='', data-position='left')
          .row.column
            br
            img.thumbnail(src='http://placehold.it/550x350')
            h5 Mike Mikerson
            p
              | Duis aliquet egestas purus in blandit. Curabitur vulputate, ligula lacinia scelerisque tempor, lacus lacus ornare ante, ac egestas est urna sit amet arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed molestie augue sit amet leo.
        .off-canvas-content(data-off-canvas-content='')
          .title-bar.hide-for-large
            .title-bar-left
              button.menu-icon(type='button', data-open='my-info')
              span.title-bar-title Mike Mikerson
          .callout.primary
            .row.column
              h1 Hello! This is the portfolio of a very witty person.
              p.lead
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla.
          .row.small-up-2.medium-up-3.large-up-4
            .column
              img.thumbnail(src='http://placehold.it/550x550')
              h5 My Site
            .column
              img.thumbnail(src='http://placehold.it/550x550')
              h5 My Site
            .column
              img.thumbnail(src='http://placehold.it/550x550')
              h5 My Site
            .column
              img.thumbnail(src='http://placehold.it/550x550')
              h5 My Site
            .column
              img.thumbnail(src='http://placehold.it/550x550')
              h5 My Site
            .column
              img.thumbnail(src='http://placehold.it/550x550')
              h5 My Site
            .column
              img.thumbnail(src='http://placehold.it/550x550')
              h5 My Site
            .column
              img.thumbnail(src='http://placehold.it/550x550')
              h5 My Site
            .column
              img.thumbnail(src='http://placehold.it/550x550')
              h5 My Site
            .column
              img.thumbnail(src='http://placehold.it/550x550')
              h5 My Site
            .column
              img.thumbnail(src='http://placehold.it/550x550')
              h5 My Site
            .column
              img.thumbnail(src='http://placehold.it/550x550')
              h5 My Site
          hr
          .row
            .medium-6.columns
              h3 Contact Me
              p
                | Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus. Mauris iaculis porttitor.
              ul.menu
                li
                  a(href='#') Dribbble
                li
                  a(href='#') Facebook
                li
                  a(href='#') Yo
            .medium-6.columns
              label
                | Name
                input(type='text', placeholder='Name')
              label
                | Email
                input(type='text', placeholder='Email')
              label
                | Message
                textarea(placeholder='holla at a designerd')
              button.button.expanded
                | Submit
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='//dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js')
    script.
      $(document).foundation();
